<!doctype html>
<html>
  <head>
    <title>Service A</title>
  </head>
  <body>
    <h1>Service A</h1>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script type="text/javascript">
      var socket = io.connect('http://' + document.domain + ':' + location.port);

      function sendMessage() {
        var message = document.getElementById('message').value;
        socket.emit('message_from_a', message);
      }

      socket.on('message_from_b', function(message) {
        document.getElementById('received').innerHTML = 'Received from Service B: ' + message;
      });
    </script>
    <input type="text" id="message" placeholder="Enter message">
    <button onclick="sendMessage()">Send Message</button>
    <p id="received"></p>
  </body>
</html>
